{% extends 'template.html' %}
{% block content %}
<section class="header-img adjust">
    <div id="canvas_body_div">  
      <canvas data-processing-sources="{{url_for('static', filename='wave.pde')}}"></canvas>
    </div>
    <img class="bg-opacity" src="{{url_for('static', filename='header.jpg')}}" alt="waterpolo" id="indexhd">
    <div class="overlay-text">
      <div class="background-gradient">
      <div class="logo-group" id="logo">
        <span class="iconify" data-icon="mdi-waves"></span>
        <span class="iconify" data-icon="mdi-volleyball"></span>
      </div>
      <h1>WATERBALL</h1>
      <p>Managing and simulating your waterpolo games on WB.</p>
      </div>
    </div>
</section>
    </header>
    <main class="adjust">
        <section class="teams flex">
          {% for team in teams %}
            {% set url = team['logo'] %}
            <a href="{{ url_for('displayTeam', id=team['team_id']) }}" class="team-logo-wrapper">
                <img class="grey-filter" src="{{ url_for('static',filename=team['logo']) }}" alt="{{ team['name'] }}">
              
            </a>
          {% endfor %}

        </section>
        <section class="split">
            <aside class="standing">
                <h2>Standings</h2>
              {% for stand in standing %}
              <h3>{{ stand }}</h3>
              {% endfor %}
                <table class="styled-table index-table glass">
                  <thead>
                      <tr>
                          <th align ="center">School</th>
                          <th align ="center">Conference</th>
                          <th align ="center">Overall</th>
                          <th align ="center">Goals Scored</th>
                          <th align ="center">Goals Allowed</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for stand in standings %}
                      <tr>
                          <td>
                            <a href="{{ url_for('displayTeam', id=stand['id']) }}" class="team-logo-wrapper">
                                <img class="grey-filter" src="{{ url_for('static',filename=stand['logo']) }}" alt="{{ stand['id'] }}">
                              
                            </a>
                            {{ stand["name"] }}
                          </td>
                          <td align ="center">{{ stand["division"] }}</td>
                          <td align ="center">{{ stand["wins"] }} - {{ stand["ties"] }} - {{ stand["losses"] }}</td>
                          <td align ="center">{{ stand["scored"] }}</td>
                          <td align ="center">{{ stand["against"] }}</td>
                      </tr>
                    {%endfor%}
                  </tbody>
              </table>
            </aside>
          
          <article>
            <h2>This Week Schedule</h2>
            <section>
          {% for sched in schedule %}
          <p>Match {{ sched['match_number'] }}</p>
          
          <table class="styled-table glass">
            <thead>
                <tr>
                    <th>School</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for t in teams %}
                  {% if sched['home_id'] == t['team_id']  %}
                    
                  <tr>
                        <td>
                              <a href="{{ url_for('displayTeam', id=sched['home_id']) }}" class="team-logo-wrapper">
                                  <img class="grey-filter" src="{{ url_for('static',filename=t['logo']) }}" alt="{{ sched['home_id'] }}">
                                
                              </a>
                          {% for stand in standings %}
                            {% if sched['home_id'] == stand['id'] %}
                              {{ t["name"] }} ({{  stand["wins"]  }} - {{  stand["ties"]  }} - {{  stand["losses"]  }})
                            {% endif %}
                          {% endfor %}
                        </td>
                      <td align ="center">{{ sched['home_goals'] }}</td>
                      
                  {% endif %}
                {% endfor %}
                </tr>
              {% for t in teams %}
                {% if sched['away_id'] == t['team_id']  %}
                <tr class="active-row">
                    <td>
                      <a href="{{ url_for('displayTeam', id=sched['away_id']) }}" class="team-logo-wrapper">
                                <img class="grey-filter" src="{{ url_for('static',filename=t['logo']) }}" alt="{{ sched['away_id'] }}"></a>
                          {% for stand in standings %}
                            {% if sched['away_id'] == stand['id'] %}
                              {{ t["name"] }} ({{  stand["wins"]  }} - {{  stand["ties"]  }} - {{  stand["losses"]  }})
                            {% endif %}
                          {% endfor %}</td>
                    <td align ="center">{{ sched['away_goals'] }}</td>
                </tr>
                {% endif %}
              {% endfor %}
            
                <!-- and so on... -->
            </tbody>
        </table>
        {% endfor %}
      </section>
      </section>
    </article>      
        
    </main>

{% endblock %}