{% extends 'template.html' %}
{% block content %}
<style>
  .tool-bar{
    justify-content: center;
  }
</style>
<!-- <section class="header-img adjust">
</section> -->
    </header>
    <main class="adjust paddingtop">
      <div class="tool-bar adjust-browse">
          <a href="/schedule/this-week/" class="tool-item hover active-item">THIS WEEK</a>
          <a href="/schedule/season/" class="tool-item hover">SEASON</a>
      </div>
        <h1>{{ title }}</h1>
        <section>
          {% for sched in schedule %}
          <p>Match {{ sched['match_number'] }}</p>
          
          <table class="styled-table glass">
            <thead>
                <tr>
                    <th>School</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
              {% for t in teams %}
                {% if sched['home_id'] == t['team_id']  %}
                <tr>
                      <td>
                            <a href="{{ url_for('displayTeam', id=sched['home_id']) }}" class="team-logo-wrapper">
                                <img class="grey-filter" src="{{ url_for('static',filename=t['logo']) }}" alt="{{ sched['home_id'] }}">
                              
                            </a>
                            {{ t["name"] }}
                      </td>
                    <td>{{ sched['home_goals'] }}</td>
                {% endif %}
              {% endfor %}
                </tr>
              {% for t in teams %}
                {% if sched['away_id'] == t['team_id']  %}
                <tr class="active-row">
                    <td>
                      <a href="{{ url_for('displayTeam', id=sched['away_id']) }}" class="team-logo-wrapper">
                                <img class="grey-filter" src="{{ url_for('static',filename=t['logo']) }}" alt="{{ sched['away_id'] }}"></a>
                      {{ t['name'] }}</td>
                    <td>{{ sched['away_goals'] }}</td>
                </tr>
                {% endif %}
              {% endfor %}
            
                <!-- and so on... -->
            </tbody>
        </table>
        {% endfor %}
      </section>
    </main>

{% endblock %}