{% extends 'template.html' %}
{% block content %}
<style>
  .tool-bar{
    justify-content: center;
  }
</style>
<!-- <section class="header-img adjust">
</section> -->
    </header>
    <main class="adjust paddingtop">
      <div class="tool-bar adjust-browse">
          <a href="/standings/conference/" class="tool-item hover active-item">conference</a>
          <a href="/standings/overall/" class="tool-item hover">overall</a>
      </div>
        <h1>{{ title }}</h1>
        <section>
          {% for stan in stand %}
          <p>{{ stan['division'] }}</p>
          {% endfor %}
          <table class="styled-table glass">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dom</td>
                    <td>6000</td>
                </tr>
                <tr class="active-row">
                    <td>Melissa</td>
                    <td>5150</td>
                </tr>
                <!-- and so on... -->
            </tbody>
        </table>
      </section>
    </main>

{% endblock %}