{% extends 'template.html' %}
{% block content %}
<style>
  .tool-bar{
    justify-content: center;
  }
</style>
<!-- <section class="header-img adjust">
</section> -->
    </header>
    <main class="adjust paddingtop">
      <div class="tool-bar adjust-browse">
          <a href="/standings/conference/" class="tool-item hover active-item">conference</a>
          <a href="/standings/overall/" class="tool-item hover">overall</a>
      </div>
        <h1>{{ title }}</h1>
        <section>
          <table class="styled-table index-table glass">
                  <thead>
                      <tr>
                          <th align ="center">School</th>
                          <th align ="center">Conference</th>
                          <th align ="center">Overall</th>
                          <th align ="center">Goals Scored</th>
                          <th align ="center">Goals Allowed</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for stand in standings %}
                      <tr>
                          <td>
                            <a href="{{ url_for('displayTeam', id=stand['id']) }}" class="team-logo-wrapper">
                                <img class="grey-filter" src="{{ url_for('static',filename=stand['logo']) }}" alt="{{ stand['id'] }}">
                              
                            </a>
                            {{ stand["name"] }}
                          </td>
                          <td align ="center">{{ stand["division"] }}</td>
                          <td align ="center">{{ stand["wins"] }} - {{ stand["ties"] }} - {{ stand["losses"] }}</td>
                          <td align ="center">{{ stand["scored"] }}</td>
                          <td align ="center">{{ stand["against"] }}</td>
                      </tr>
                    {%endfor%}
                  </tbody>
              </table>
      </section>
    </main>

{% endblock %}