{% include "include/header.html" %}
  <!-- <section class="header-img adjust">
  </section> -->
<div class="header-renderer bottom-border paddingtop">
  {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}}">{{ message }}</div>
  {% endfor %}
      <div class="tabbed-header-renderer adjust adjust-browse">
        <div class="avatar">
          <!-- {{ url_for('static', filename='placeholder.jpg') }} -->
          <img src="{{ current_user.avatar }}" alt="avatar place holder for {{ current_user.first_name }}"/>
        </div>
        <form method="POST" class="classic-info">
          <div class="info-window">
            {% if title == 'Edit Profile' %}
              <style>
                input[name="first_name"], input[name="last_name"] {
                  font-size: 1.5em;
                  font-weight: bold;
                }
                .split-input {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  gap: 1em;
                }
              </style>
              <div class="split-input">
              <input type="text" 
                    name="first_name" 
                    placeholder="{{ current_user.first_name }}"
                    value="{{ request.form['first_name'] }}"></input>
              <input type="text" 
                    name="last_name" 
                    placeholder="{{ current_user.last_name }}" 
                    value="{{ request.form['last_name'] }}"></input>

              </div>
              <input type="text" 
                    name="email" 
                    placeholder="{{ current_user.email }}" 
                    id="userName" 
                    value="{{ request.form['email'] }}"></input>
              <input type="text" 
                    name="twitter_username" 
                    placeholder="twitter-username"
                    id="userName" 
                    value="{{ request.form['twitter_username'] }}"></input>
          </div>
          <div class="edit-button">
            <button type="submit" class="button">Save Changes</button>
            </div>
            {% else %}
            <h2>{{ current_user.first_name }} {{ current_user.last_name }}</h2>
            <p>{{ current_user.email }}</p>
            <p>{{ current_user.last_accessed }}</p>
          </div>
          <div class="edit-button">
            <button href="/profile/edit-profile/" type="submit" class="button">Edit profile</button>
          </div>
            {% endif %}
          
        </form>
      </div>
      <div class="tool-bar adjust-browse">
        
{% block content %} {% endblock %}
{% include "include/footer.html" %}