{% extends "template_profile.html" %}
{% block content %}
  <a href="/profile/dashboard/" class="tool-item hover active-item">dashboard</a>
        <a href="/profile/lineups/" class="tool-item hover">lineups</a>
        <a href="/profile/standings/" class="tool-item hover">standings</a>
        <a href="/profile/players/" class="tool-item hover">players</a>
      </div>
    </div>
</header>
<main class="adjust">
  <section class= "adjust-browse">
    {% if current_user.is_authenticated %}
    <h1>Hi {{ current_user.first_name }}!</h1>
    {% if current_user.admin == 'Y' %}
    <p>You are the admin</p>
    <a style="text-decoration:none;" href="/admin/" class="setting-button">
      <button action="/schedule/" class="button"  style="margin-right:auto; margin-left:0;">
        Admin Portal
      </button>
    </a>
    {% endif %}
    <p>Welcome WaterBallers! To your team!</p>
    {% endif %}   
    
  </section>
   
</main>
{% endblock %}