{% extends "template_profile.html" %}
{% block content %}
  <a href="/profile/dashboard/" class="tool-item hover ">dashboard</a>
        <a href="/profile/lineups/" class="tool-item hover">lineups</a>
        <a href="/profile/schedule/" class="tool-item hover">schedule</a>
        <a href="/profile/standings/" class="tool-item hover">standings</a>
        <a href="/profile/players/" class="tool-item hover">players</a>
      </div>
    </div>
</header>
<main class="adjust">
  <section class= "adjust-browse">
    <p>To edit or change your personal information, including your first name, last name, email address, and password, please follow the instructions below:</p>
    <ol>
      <li>First Name: Locate the field labeled "First Name". Replace the current first name with your desired new first name.</li>
      <li>Last Name: Locate the field labeled "Last Name". Replace the current last name with your desired new last name.</li>
      <li>Email (aka your username): Locate the field labeled "Email". Replace the current email with your desired new email.</li>
      <li>Remember to hit Save Changes after you are done</li>
    </ol>
  </section>
   
</main>
{% endblock %}