{% extends "template_profile.html" %}
{% block content %}
        <a href="/profile/dashboard/" class="tool-item hover">dashboard</a>
        <a href="/profile/lineups/" class="tool-item hover">lineups</a>
        <a href="/profile/schedule/" class="tool-item hover active-item">schedule</a>
        <a href="/profile/standings/" class="tool-item hover">standings</a>
        <a href="/profile/players/" class="tool-item hover">players</a>
      </div>
    </div>
</header>
<main class="adjust">
  <section class= "adjust-browse">
    {% if current_user.is_authenticated %}
    {% endif %}   
    
  </section>
   
</main>
{% endblock %}